@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Slab', serif;
  background-color: #090a0e;
  color: #ffffff;
}
.max-content{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}